@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #0093E9;
  background-image: linear-gradient(to right, #02539D, #52ACFF);
  font-family: 'Poppins', sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.button {
  background-color: #0505054D;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: #fff; }
  .button.button--bg-signos {
    background-color: #05050500; }

.flex__between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; }
  .container .container__calculator {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .container__calculator .container__calculator-grid {
      width: 24.3rem;
      height: 40rem;
      background: linear-gradient(166.34deg, #373737 0%, #252628 22.9%, #000309 100%);
      border-radius: 40px; }
      .container .container__calculator .container__calculator-grid .contenedor-resultados {
        width: inherit;
        height: 30vh; }
        .container .container__calculator .container__calculator-grid .contenedor-resultados .contenedor-resultados__grid {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: 10vh 10vh 10vh;
          margin: 0 auto;
          width: 86%; }
          .container .container__calculator .container__calculator-grid .contenedor-resultados .contenedor-resultados__grid .container__resultados.container__icons {
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;
            align-items: center; }
            .container .container__calculator .container__calculator-grid .contenedor-resultados .contenedor-resultados__grid .container__resultados.container__icons .container__toogle {
              flex: 2;
              display: flex;
              justify-content: flex-end; }
              .container .container__calculator .container__calculator-grid .contenedor-resultados .contenedor-resultados__grid .container__resultados.container__icons .container__toogle .toogle {
                font-size: 1.6rem;
                display: flex;
                width: 100px;
                background-color: #1b6a9c;
                border-radius: 2.4rem; }
                .container .container__calculator .container__calculator-grid .contenedor-resultados .contenedor-resultados__grid .container__resultados.container__icons .container__toogle .toogle .sun {
                  color: #75a4c2;
                  flex: 1;
                  display: grid;
                  place-content: center; }
                .container .container__calculator .container__calculator-grid .contenedor-resultados .contenedor-resultados__grid .container__resultados.container__icons .container__toogle .toogle .moon {
                  background-color: #093a5c;
                  color: #b0c0cd;
                  flex: 1.4;
                  border-radius: 2.4rem;
                  display: grid;
                  place-content: center; }
            .container .container__calculator .container__calculator-grid .contenedor-resultados .contenedor-resultados__grid .container__resultados.container__icons .icon__history {
              color: #fbfbfb;
              font-size: 2rem;
              flex: 1;
              display: grid;
              place-items: end; }
          .container .container__calculator .container__calculator-grid .contenedor-resultados .contenedor-resultados__grid .container__resultados p {
            align-items: flex-end;
            color: #8d8e8f;
            display: flex;
            flex-direction: column;
            font-size: 1.6rem;
            justify-content: end;
            height: 100%; }
          .container .container__calculator .container__calculator-grid .contenedor-resultados .contenedor-resultados__grid .container__resultados span {
            color: #fff;
            font-size: 2.6rem;
            font-weight: 400; }
      .container .container__calculator .container__calculator-grid .contenedor-btn-numeros {
        width: inherit;
        padding: 1.2rem;
        background-image: linear-gradient(to right top, #031125, #071f37, #092c49, #093a5c, #044970);
        border-radius: 30px;
        border-radius: inherit; }
        .container .container__calculator .container__calculator-grid .contenedor-btn-numeros.container-grid-btn {
          display: grid;
          grid-template-columns: repeat(4, 5.4rem);
          grid-template-rows: repeat(5, 1fr);
          height: 32rem; }
          .container .container__calculator .container__calculator-grid .contenedor-btn-numeros.container-grid-btn .contenedor-signos-memoria {
            background-color: #0A283F;
            display: flex;
            grid-column: 1 / 3 span;
            justify-content: space-between;
            height: 70px;
            border-radius: 70px; }
            .container .container__calculator .container__calculator-grid .contenedor-btn-numeros.container-grid-btn .contenedor-signos-memoria > button {
              background-color: #0A283F; }
          .container .container__calculator .container__calculator-grid .contenedor-btn-numeros.container-grid-btn .contenedor-teclas-numericas {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            grid-column: 1 / 3 span;
            grid-row: 2 / 5 span; }
          .container .container__calculator .container__calculator-grid .contenedor-btn-numeros.container-grid-btn .contenedor-funciones-basicas {
            background-color: #0A283F;
            border-radius: 70px;
            grid-column: 4 / 5;
            grid-row: 1 / 6;
            display: grid;
            width: max-content;
            height: 28.2rem;
            gap: 1rem;
            place-content: space-between;
            justify-self: end; }
