* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #0093E9;
  background-image: linear-gradient(to right, #02539D, #52ACFF); }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%; }

.container__calculator {
  display: grid;
  height: 80vh;
  place-content: center;
  width: 80%; }
  .container__calculator .content-calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .container__calculator .content-calculator.calculator__wrapper {
      background-color: #8a8eb0;
      background-image: linear-gradient(to right, #1b1c20, #1b1c20);
      border-radius: 1.6rem;
      height: 800px;
      width: 400px;
      overflow: hidden; }
    .container__calculator .content-calculator .elements-result-calculator {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .container__calculator .content-calculator .elements-result-calculator.content-calculator__result {
        flex-grow: 1; }
    .container__calculator .content-calculator .content-calculator__buttons {
      background-image: linear-gradient(to right top, #051937, #072445, #073053, #073c62, #044970);
      border-top-left-radius: 1.6rem;
      border-top-right-radius: 1.6rem;
      box-shadow: 0px -5px 70px rgba(0, 0, 0, 0.1);
      flex-grow: 1;
      height: 300px; }
      .container__calculator .content-calculator .content-calculator__buttons .container-grid-buttons {
        color: aliceblue;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto auto; }
        .container__calculator .content-calculator .content-calculator__buttons .container-grid-buttons .container-grid-buttons__button {
          display: grid;
          padding: 1rem; }
          .container__calculator .content-calculator .content-calculator__buttons .container-grid-buttons .container-grid-buttons__button .button {
            background-color: #0505054D;
            border-radius: 50%;
            border: none;
            color: #fff;
            font-size: 26px;
            height: 70px;
            width: 70px; }
