@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #0093E9;
  background-image: linear-gradient(to right, #02539D , #52ACFF);
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.button{
  background-color: #0505054D;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: #fff;

  // &.button--bg-ligth{
  //   background-color: #FFFFFF4D;
  //   color: #050505ea;
  // }
  &.button--bg-signos{
    background-color: #05050500;
  }
}

.flex__between{
  display: flex;
  justify-content: space-between;
  align-items: center;

}