.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .container__calculator {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .container__calculator-grid {
      width: 30rem;
      height: inherit;
      background: linear-gradient(
        166.34deg,
        #373737 0%,
        #252628 22.9%,
        #000309 100%
      );
      border-radius: 40px;

      .contenedor-resultados {
        width: inherit;
        height: 30vh;
      }

      .contenedor-btn-numeros {
        width: inherit;
        height: auto;
        padding: 2rem;
        background-image: linear-gradient(to right top, #031125, #071f37, #092c49, #093a5c, #044970);
        border-radius: 30px;
        border-radius: inherit;

        &.container-grid-btn {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(5, 1fr);

          .contenedor-signos {
            grid-column: 4/ 4 span;
            grid-row: 1 / 5 span;
            background-color: #0505054D;
            border-radius: 6rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 50vh;
            width: 5rem;
            place-self: center;

            &.contendenor-signos--bg{
              background-color: #04487000;
              &.contendenor-signos--col-three{
                grid-column: 3 / 3;
              }
              &.contendenor-signos--col-two{
                grid-column: 2 / 2;
              }
              &.contendenor-signos--col-one{
                grid-column: 1 / 1;
              }
            }
          }
          .container-grid-btn--line{
            width: 14rem;
            height: 0.3rem;
            background-color: #3D76AB;
            grid-column: 2 / 4;
            margin-top: 1.5rem;
            border-radius: 0.4rem;
            
          }
        }
      }
    }
  }
}
